# Python
*.pyc
*~
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
ENV/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Environments & Secrets
.env
.env.*

# Static files
staticfiles/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

